@import "../../app.scss";

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
        justify-content: center;
    }

    h1 {
        font-size: 4.5rem;
        padding-bottom: 40px;

        @include mobile {
            font-size: 1.875rem;
        }
    }

    section {
        margin-bottom: 40px;
    }

    .projectsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(255 255 255 / 0.1);

        .projectsWrapper {
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                max-width: 748px;
                flex-direction: column;
            }

            .textContainer {
                flex: 1;
                flex-direction: column;

                @include mobile {
                    flex-direction: row;
                    transform: none !important;
                    padding: 10px;
                }

                .textWrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    padding: 0px 40px 0px 40px;

                    @include mobile {
                        padding: 20px 30px 20px 30px;
                    }

                    h3 {
                        font-size: 1.75rem;
                
                        @include mobile {
                            font-size: 1.75rem;
                        }
                    }
                
                    p {
                        color: rgb(255 255 255 / 0.7);
                        font-size: 1rem;
                
                        @include mobile {
                            font-size: 0.875rem;
                        }
                    }
                
                    ul {
                        display: flex;
                        gap: 8px;

                        @include mobile {
                            flex-direction: column;
                        }
                
                        li {
                            list-style: none;
                            color: rgb(255 255 255 / 0.7);
                            background-color: black;
                            border: none;
                            border-radius: 30px;
                            padding: 4px 12px 4px 12px;
                            letter-spacing: 0.05em;
                            font-size: 0.75rem;

                            @include mobile {
                                text-align: center;
                            }
                        }
                    }
                
                    a.button {
                        color: black;
                        background-color: orange;
                        border: none;
                        border-radius: 10px;
                        padding: 10px;
                        width: 120px;
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }

            .imageContainer {
                flex: 1;

                @include mobile {
                    width: 100%;
                    max-height: 300px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include mobile {
                        object-fit: contain;
                        align-items: center;
                        text-align: center;
                    }
                    
                }
            }
        }
    }
}