@import "@hooks/breakpoints.scss";

.heroContainer {
  margin-top: 100px;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;

  @include tablet {
    margin-top: 120px;
    height: 100vh;
  }

  @include mobile {
    margin-top: 10px;
    height: calc(100vh + 80px);
  }

  .heroWrapper {
    display: flex;
    margin: auto;

    @include desktop {
      height: 100%;
    }

    @include mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    @include tablet {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-left: 100px;

      @include desktop {
        flex: 1;
        justify-content: center;
      }

      @include smaller-desktop {
        flex: 1;
        margin-left: 50px;
      }

      @include tablet {
        height: 380px;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        flex: 1.5;
      }

      @include mobile {
        height: 380px;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        flex: 1.5;
      }

      h2 {
        font-size: 1.875rem;
        color: #248823;
        letter-spacing: 5px;
        padding-left: 15px;
        padding-bottom: 10px;

        @include tablet {
          font-size: 2.5rem;
          letter-spacing: 6.5px;
        }
      }

      h1 {
        padding-left: 15px;
        padding-bottom: 0px;
        line-height: 1.15;
        font-size: 4rem;

        @include mobile {
          padding: 0px 15px 0px 15px;
          font-size: 2.5rem;
        }
      }

      .buttons {
        z-index: 1;
        padding-left: 15px;

        button {
          padding: 20px;
          border: 2.5px solid #248823;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;

          @include mobile {
            padding: 15px;
            margin-right: 15px;
          }
        }
      }

      img {
        padding-left: 15px;
        width: 50px;
      }
    }

    .imageContainer {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      margin: auto;

      .imageWrapper {
        display: flex;
        max-width: 500px;

        @include smaller-desktop {
          max-width: 400px;
        }

        @include tablet {
          max-width: 300px;
          margin: 40px;
        }

        @include mobile {
          max-width: 200px;
          margin: 20px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          z-index: 1;
        }
      }
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      bottom: -140px;
      white-space: nowrap;
      color: #ffffff09;
      width: 50%;
      font-weight: bold;

      @include mobile {
        font-size: 40vh;
        bottom: -90px;
      }
    }
  }
}

.typingText {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 10px;

  @include mobile {
    font-size: 1.2rem;
    padding-top: 16px;
  }

  .cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
