@import "./hooks/breakpoints.scss";

// Intro section page size and height
.headerContainer {
  height: 100vh;
  width: 100vw;

  @include mobile {
    height: 100%;
    width: 100%;
  }
}

// Container for all the other components
.portfolioContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1260px;
}

h1 {
  font-size: 4.5rem;
  padding-bottom: 50px;
  font-weight: 600;

  @include tablet {
    font-size: 3.125rem;
    padding-bottom: 40px;
  }

  @include mobile {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }
}

p {
  font-size: 1rem;

  @include mobile {
    font-size: 0.875rem;
  }
}
