@import "../../app.scss";

.techStack {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;

    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 15px;

        @include mobile {
            font-size: 1.875rem;
            text-align: center;
        }

        @include tablet {
            font-size: 3rem;
            text-align: center;
        }
    }

    p {
        font-size: 1.25rem;

        @include mobile {
            font-size: 1rem;
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;
        }

        @include tablet {
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .listWrapper {
        display: flex;
        flex-direction: row;

        @include mobile {
            align-items: center;
            justify-content: center;
        }

        .box {
            padding: 10px;
            margin: 10px;

            @include mobile {
                border: none;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 0px;
                padding-top: 20px;
                font-size: 1rem;
            }

            @include tablet {
                border: none;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 0px;
                padding-top: 20px;
            }

            .techStack-image {
                height: 60px;

                @include mobile {
                    height: 30px;
                }

                @include tablet {
                    height: 60px;
                }
            }

            h2 {
                font-size: 1.25rem;
                padding-top: 30px;

                @include mobile {
                    font-size: 1.125rem;
                    padding-top: 0px;
                }
            }
        }
    }
}