@import "../../app.scss";

.navbar {
    z-index: 999;
    background-color: #1A191D;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar_headings {
        padding-left: 4.4vh;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "DM Sans", sans-serif;
    }

    .navbar_scrolling {
        z-index: 999;
        padding-left: 4.4vh;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "DM Sans", sans-serif;
        background: rgba(26, 26, 26, 0.8);
    }

    .navbar_menuIcon {
        border: 10px solid white;
        border-radius: 30px;
        color: black;
        background-color: white;
    }

    .navbar_background {
        padding-left: 4.4vh;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "DM Sans", sans-serif;
    }

    .navbar_links {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        font-family: "DM Sans", sans-serif !important;

        .navbar_buttons {
            font-family: "DM Sans", sans-serif !important;
            font-weight: 400;
            font-size: 1.1rem;
            text-transform: none;
            letter-spacing: 1px;
        }
    }

    .social {
        position: absolute;
        left: 90%;

        @include tablet {
            left: 85%;
        }

        @include mobile {
            left: 75%;
        }

        img {
            width: 18px;
            height: 18px;
            padding: 10px;

            @include mobile {
                padding: 8px;
            }
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;

    .bg {
        width: 200px;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: white;

        @include mobile {
            z-index: 999;
        }

        .links {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a {
                font-size: 2.5rem;
                text-decoration: none;

                @include mobile {
                    font-size: 1.25rem;
                }
            }
        }
    }

    button {
        z-index: 999;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}