@import "../../app.scss";

.navbar {
    height: 100px;
    background-color: #1A191D!important;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        @include tablet {
            justify-content: flex-end;
            padding: 20px;
        }

        span {
            font-weight: bold;
            font-size: 1rem;

            @include mobile {
                padding-right: 20px;
                font-size: 0.8rem;
            }

            @include tablet {
                padding-right: 20px;
            }
        }

        .social {
            display: flex;
            gap: 20px;

            @include mobile {
                gap: 10px;
            }

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}

.navbar_headings {
    padding-left: 4.4vh;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.navbar_links {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "DM Sans", sans-serif!important;

    .navbar_buttons {
        font-family: "DM Sans", sans-serif!important;
        font-weight: 400;
    }
}