@import "../../app.scss";

.navbar {
  z-index: 999;
  background-color: #1a191d;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar_pageLogo {
    cursor: default;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
    font-weight: 700;
  }
  .navbar_pageLogo-Hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  .navbar_headings {
    padding-left: 4.4vh;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition-delay: 0.2s;
  }

  .navbar_scrolling {
    z-index: 999;
    padding-left: 4.4vh;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    background: rgba(26, 26, 26, 0.8);
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition-delay: 0.2s;

    @include mobile {
      height: 80px;
    }
  }

  .navbar_menuIcon {
    border: 10px solid white;
    border-radius: 30px;
    color: black;
    background-color: white;
    box-sizing: content-box;
  }

  .navbar_background {
    padding-left: 4.4vh;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "DM Sans", sans-serif;
  }

  .navbar_links {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "DM Sans", sans-serif !important;
    min-width: 650px;

    .navbar_buttons {
      font-family: "DM Sans", sans-serif !important;
      font-weight: 600;
      font-size: 1.25rem;
      text-transform: none;
      letter-spacing: 1.4px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 1.3;
    }
  }

  .navbar_social {
    display: flex;
    position: absolute;
    left: 90%;
    //display: block;
    visibility: visible;
    gap: 10px;

    @include desktop {
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 300ms;
    }

    @include tablet {
      left: 85%;
    }

    @include mobile {
      left: 75%;
    }

    img {
      width: 18px;
      height: 18px;
      gap: 10px;

      @include mobile {
        gap: 5px;
      }
    }
  }

  .navbar_socialHidden {
    position: absolute;
    left: 90%;
    cursor: none;
    visibility: hidden;

    @include desktop {
      opacity: 0;
      transition: visibility 0s linear 300ms, opacity 300ms;
    }

    a {
      cursor: default;
    }

    img {
      width: 18px;
      height: 18px;
      padding: 10px;

      @include mobile {
        padding: 8px;
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  .bg {
    width: 200px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;

    @include mobile {
      z-index: 999;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 2.5rem;
        text-decoration: none;

        @include mobile {
          font-size: 1.25rem;
        }
      }
    }
  }

  button {
    z-index: 999;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
