@import "../../app.scss";

.projects {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }

    .titleContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 96px;
            font-weight: 10;
        }
    }

    .aboutContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        max-width: 1000px;
    }

    .listContainer {
        flex: 1;
        max-width: 1366px;
        margin: auto;

        .aboutText {
            text-align: center;

            p {
                font-size: 16px;
                text-align: center;
            }

            h3 {
                font-size: 24px;
            }
        }
        
        .skillsContainer {
            display: flex;
            max-width: 1366px;
            margin: auto;

            .box {
                padding: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
        
                img {
                    height: 60px;
                }
        
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}